<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Aviscribe"
           Manufacturer="xTektonic"
           Version="$(var.AppVersion)"
           UpgradeCode="BCBFA9D2-4673-4C63-A7BC-77A27BC49672"
           Scope="perMachine"
           Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Aviscribe is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Aviscribe" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />

    <Component Id="AviscribeExecutable" Directory="INSTALLFOLDER">
      <File Id="AviscribeExe"
            Source="$(var.PublishDir)\Aviscribe.exe"
            KeyPath="yes">
        <Shortcut Id="AviscribeStartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="Aviscribe"
                  Description="Talkatoo run assistant"
                  Advertise="yes"
                  WorkingDirectory="INSTALLFOLDER" />
      </File>
    </Component>

    <Files Include="$(var.PublishDir)\**"
           Directory="INSTALLFOLDER">
      <Exclude Files="$(var.PublishDir)\Aviscribe.exe" />
    </Files>
  </Package>
</Wix>
